.card {
  width: 100%;
  border: solid 2px #70f87b;
  padding: 20px;
  margin-top: 30px;
  justify-content: space-between;

  display: flex;
  flex-flow: row wrap;

  .contentContainer {
    width: 65%;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 22px;
      margin-bottom: 10px;
    }

    p {

    }
  }

  .infoContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    margin-top: 10px;

    p{
      display: flex;
      width: 100%;
      margin-bottom: 10px;

      span {
        width: 100%;
        margin-left: 5px;
        font-weight: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }


    Button {
      margin-top: 5px;
      align-self: center;
    }
  }
}